---
---

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<script src="{{site.baseurl}}public/jquery-2.1.3.min.js"></script>
<script src="{{site.baseurl}}public/spin.min.js"></script>
<!-- jQuery UI is only used for the nice slider controls -->
<!-- <link type="text/css" href="{{site.baseurl}}js-fireworks/ui/themes/base/ui.all.css" rel="stylesheet" /> -->
<!-- <script type="text/javascript" src="{{site.baseurl}}js-fireworks/ui/jquery-ui.js"></script> -->
<!-- <script type="text/javascript" src="{{site.baseurl}}js-fireworks/ui/ui.slider.js"></script> -->

<!-- Load the fireworks script and stylesheet -->
<script type="text/javascript" src="{{site.baseurl}}js-fireworks/canvas/fireworks.js"></script>
<link type="text/css" href="{{site.baseurl}}js-fireworks/canvas/fireworks.css" rel="stylesheet" />
<script>
$( document ).ready(function() {
  // $( ".sidebar").hide();
  // $( ".post").hide();
  // window.resizeTo(700,800);
  // add the loading spinner
  var opts = {
  lines: 9, // The number of lines to draw
  length: 20, // The length of each line
  width: 5, // The line thickness
  radius: 15, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#ac4142',// #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 40, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: '50%', // Top position relative to parent
  left: '50%' // Left position relative to parent
};
var target = document.getElementById('spin');
var spinner = new Spinner(opts).spin(target);

$( "#music" ).on("canplaythrough", function(){
    // setTimeout(function(){spinner.stop()},1000);
    spinner.stop();
    // setTimeout("spinner.stop();",1000);

    // var resizeTimer = null;
    // $(window).bind('resize', function() {
    //     if (document.all) return;
    //     if (resizeTimer) clearTimeout(resizeTimer);
    //     resizeTimer = setTimeout("location.reload()", 100);
    // });

    FireworkDisplay.launchText();
    });//music can play through
    // gonext();
});
</script>

// <script type="text/javascript">
// function fireworks(){
//   window.location.load("{{site.baseurl}}js-fireworks/canvas/fireworks.html");
//   // $( "html" ).get(0).load("{{site.baseurl}}js-fireworks/canvas/fireworks.html");
// }</script>


{% include head.html %}
<link type="text/css" href="{{site.baseurl}}js-fireworks/canvas/fireworks.css" rel="stylesheet" />

<body class="theme-base-08">
    <div class="sidebar" style="display:none;">
      <div class="container sidebar-sticky">
        <div class="sidebar-about">
          <h1>
            <a href="{{ site.baseurl }}">
              {{ site.title }}
            </a>
          </h1>
          <p class="lead">Merry Christmas!<br /> 圣诞快乐~</p>
        </div>

        <nav class="sidebar-nav">
          <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

          {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
          {% endcomment %}

          {% assign pages_list = site.pages %}
          {% for node in pages_list %}
          {% if node.title != null %}
          {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
          {% endif %}
          {% endfor %}

          <!--  <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
          <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
          <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </div>
    </div>

    <div class="content container">
      <script type="text/javascript">
      // we need a full screen canvas, but the canvas tag doesn't support percentage widths
      // so we simply write out the canvas tag using javascript
      document.write('<canvas id="black" width="'+$(window).width()+'px" height="'+($(window).height())+'px" style="position:absolute;left:0;top:0;background:#010101;"></canvas>');
      document.write('<div id="bgd-img" style="background:url({{site.baseurl}}js-fireworks/images/background.jpg) repeat-x;position:absolute;left:0;top:'+($(window).height()-193)+'px;width:100%;height:200px;"></div>');
      document.write('<canvas id="cv" width="'+$(window).width()+'px" height="'+($(window).height()-100)+'px" style="position:absolute;left:0;top:0;"></canvas>');
      // obviously, this become wrong if the browser window changes size
      // so we simply reload the page on resize
    </script>
      <div id="spin">
        <div class="post" style="display:none;">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-date">{{ page.date | date_to_string }}</span>
          {{ content }}
          <h1><a id="fireworks-button"  onclick="fireworks()">Fireworks</a></h1>
          <audio id="music" controls autoplay>
            <source src="{{site.baseurl}}public/Santa Tell Me.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>

    </body>
<!-- PageTracker -->
<script type="text/javascript">
        // analytics tag to report visitors.  We also report every message launched.
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
<script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6696309-2");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
</html>