---
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<script src="{{site.baseurl}}public/jquery-2.1.3.min.js"></script>
<script src="{{site.baseurl}}public/spin.min.js"></script>
<script>
$( document ).ready(function() {
  $( ".sidebar").hide();
  $( ".post").hide();
  var opts = {
  lines: 9, // The number of lines to draw
  length: 20, // The length of each line
  width: 10, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#ac4142', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 40, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: '50%', // Top position relative to parent
  left: '50%' // Left position relative to parent
  };
  var target = document.getElementById('spin');
  var spinner = new Spinner(opts).spin(target);
  $( "#music").on("canplaythrough", function(){
    setTimeout(function(){spinner.stop()},1000);
    // setTimeout("spinner.stop();",1000);
    $( ".sidebar").delay(1500).fadeIn(1000);
    $( ".post" ).delay(3000).fadeIn(1000);
  });
})
</script>
<script type="text/javascript">
function musicplay(){
  var music = document.getElementById("music")
  var control = document.getElementById("music-button")
  if (music.paused){
    music.play();
    control.innerHTML="<b>Playing!</b>"
  }else{
    music.pause();
    control.innerHTML="Paused!"
  }
}
</script>



{% include head.html %}

<body class="theme-base-08">

  <div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">Merry Christmas!<br /> 圣诞快乐~</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

     <!--  <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>

  <div class="content container">
    <div id="spin">
    <div class="post">
      <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{{ page.date | date_to_string }}</span>
        {{ content }}
        <h1><a id="music-button"  onclick="musicplay();">control</a></h1>
        <audio id="music" controls autoplay>
          <source src="{{site.baseurl}}public/Santa Tell Me.mp3" type="audio/mpeg">
        </audio>
       <!--  <embed name="santa_tell_me" id="music" src=" loop="true"  hidden="false" autostart="true" width="150" height="90"> -->
        
      </div>
    </div>
    </div>

  </body>
  </html>